body {
    margin: 60px auto;
    width: 70%;
    font-family: Asap, sans-serif;
}

.gameboards {
    display: flex;
    flex-direction: column;
}

.gameboard {
    position: relative;
    border: 5px solid #BFC9CA;
    background-size: 100%;
    width: 500px;
    height: 500px;
    margin: 0 auto 2em auto;
}

    .gameboard div {
        position: absolute;
        box-sizing: border-box;
        background: #DEF3F5;
        border: 1px solid #ddd;
        width: 50px;
        height: 50px;
    }

label {
    display: block;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5em;
    font-family: Asap, sans-serif;
    width: 100%;
    height: 100%;
}

.scorebox {
    display: none;
    align-items: center;
}

.scoreboard {
    display: flex;
    font-size: 3em;
    margin-left: 5em;
    margin-top: 2em;
}

